(
    arena: (
        height: 100.0,
        width: 100.0,
    ),
    ball: (
        velocity: [75., 50.],
        radius: 2.5,
    ),
    paddles: (
        left: (
            height: 15.0,
            width: 2.5,
            speed: 75.0,
        ),
        right: (
            height: 15.0,
            width: 2.5,
            speed: 75.0,
        ),
    ),
)
