(
    arena: (
        height: 100.,
        width: 100.,
    ),
    ball: (
        velocity: [75., 50.],
        radius: 2.5,
        score_timeout_sec: 0.4,
    ),
    paddles: (
        left: (
            height: 15.,
            width: 2.5,
            speed: 75.,
        ),
        right: (
            height: 15.,
            width: 2.5,
            speed: 75.,
        ),
    ),
)
